@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.navbar {
  display: flex;
  flex-direction: row;
}

hr {
  display: none;
}

ul {
  list-style-type: none;
}

button,
p,
li {
  font-family: "Itim", itim;
  font-size: 24px;
  color: white;
}

.login,
.logout {
  @apply rounded-full border-2 border-amber-900 pl-4 pr-4 bg-amber-900
  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300;
}

li:hover {
  @apply text-amber-800;
}

.active {
  @apply text-amber-800;
}

.nav-item {
  padding: 0px 10px 0px 10px;
}
