<div
  class="text-center text-gray-50 fixed inset-x-0 bottom-0 mt-10 py-4"
  style="background-color: rgba(15, 15, 15, 0.753)"
>
  <div class="flex justify-center mt-1 scale-150">
    <div class="flex mb-2">
      <a class="mr-2 hover:scale-125" href="https://twitter.com/RaluMyst">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="mr-2 hover:scale-125" href="https://instagram.com/RaluMyst">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="mr-2 hover:scale-125" href="https://www.linkedin.com/in/ralucafritz/">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="mr-2 hover:scale-125" href="https://discord.gg/vbnXhkn">
        <i class="fab fa-discord"></i>
      </a>
      <a class="mr-2 hover:scale-125" href="https://twitch.tv/ralumyst">
        <i class="fab fa-twitch"></i>
      </a>
      <a class="hover:scale-125" href="https://github.com/ralucafritz">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>

  <div class="text-center">
    © 2023 Copyright:
    <a class="cursor-pointer" href="https://www.linkedin.com/in/ralucafritz/"
      >Raluca Fritz</a
    >
  </div>
</div>
