<app-auth-errors-helper></app-auth-errors-helper>

<div class="container grid justify-items-center min-w-full pt-12">
  <h2 class="text-5xl text-slate-50">Log In</h2>
  <form
    id="login-form"
    class="items-center flex flex-col w-full pt-12 space-y-7"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <input placeholder="Email" type="email" formControlName="email" />
    <input
      placeholder="Password"
      type="password"
      formControlName="password"
      minlength="6"
    />
    <button type="submit">Log me in</button>
    <p *ngIf="displayValidationMessage" class="validation-message">
      Please fill out all the fields!
    </p>
  </form>

  <p class="mt-2">Not a member?</p>
  <p>
    <span
      class="underline cursor-pointer hover:text-2xl"
      (click)="switchToSignUp()"
      >Sign Up</span
    >
  </p>
</div>
