<app-alerts
[needAlert]="needAlert"
[isSuccessful]="isSuccessful"
[alertMessage]="alertMessage"></app-alerts>

<div class="py-5">
  <app-nav-bar class="hidden relative" (isLoggedInEvent)="userLoggedIn=$event"></app-nav-bar>
  <h2 class="text-[40px] text-center text-gray-50 font-bold mb-5">
    Upcoming Streams
  </h2>
  <div class="flex justify-center text-xl mt-2">
    <ol>
      <div *ngIf="haveStreams">
        <div>
          <li class="border-l-2 border-gray-700" *ngFor="let key of keyArray">
            <div class="md:flex flex-start">
              <div
                class="bg-pink-600 w-6 h-6 flex items-center justify-center rounded-full -ml-3.5"
              >
                <i class="w-5 h-5 text-gray-50 fa-solid fa-tower-broadcast"></i>
              </div>
              <div
                class="block p-6 rounded-lg shadow-lg bg-gray-700/70 max-w-md ml-6 mb-10"
              >
                <div class="flex justify-between mb-4">
                  <a
                    class="text-2xl font-medium uppercase text-purple-400 hover:text-purple-500 focus:text-purple-600 duration-300 transition ease-in-out"
                    >{{ allStreams[key]?.streams.streamerName }}</a
                  >
                  <span
                    class="text-gray-50 cursor-pointer"
                    *ngIf="userLoggedIn"
                    (click)="deleteStream(key)"
                    >X</span
                  >
                </div>
                <p class="text-gray-50 mb-6">
                  {{ allStreams[key]?.streams.streamDescription }}
                </p>
                <button
                  type="button"
                  class="inline-block px-4 py-1.5 text-[17px] bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded hover:scale-125 shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                  data-mdb-ripple="true"
                  (click)="
                    goToStreamLink(allStreams[key]?.streams.streamerName)
                  "
                >
                  <i class="fab fa-twitch"></i>
                  WATCH STREAM
                </button>
              </div>
            </div>
          </li>
        </div>
      </div>
    </ol>
  </div>
</div>
